{# djlint:off H030,H031 #}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {% block title %}
        Director
      {% endblock title %}
    </title>
    {% include "meta.html" %}
    <link rel="preload" href="{% static 'fonts/geist-sans.woff2' %}" as="font" type="font/woff2" crossorigin>

    {% block head %}
      <link rel="stylesheet"
            href="{% static "tailwind/build.css" %}"
            type="text/css">
      <script defer src="{% static 'general/dist/alpine.min.js' %}"></script>
      <script src="{% static 'general/dist/htmx.min.js' %}"></script>
      <script src="{% static 'general/dist/popper.min.js' %}"></script>
      <script src="{% static "general/directorlib.js" %}"></script>
      <script defer src="{% static 'general/site-ui.js' %}"></script>
      {% django_htmx_script %}
    {% endblock %}
  </head>
  <body>
    <a class="dt-skip-link" href="#main-content">Skip to content</a>
      {% block before_content %}
        <template id="component-templates">
          {% include "components/reusable/tooltip.html" %}
          {% include "components/reusable/dialog.html" %}
          {% include "components/reusable/snackbar.html" %}

        </template>
        <div class="fixed inset-0 top-4 flex h-fit flex-col px-2 md:inset-auto md:top-auto md:right-4 md:bottom-4 md:gap-4"
             id="tooltip-holder"></div>
      {% endblock %}
    <main id="main-content" tabindex="-1">
      {% block messages %}
      {% if messages %}
        <div class="dt-messages" aria-live="polite">
          {% for message in messages %}
            <div class="dt-message {% if message.tags %}dt-message-{{ message.tags }}{% endif %}" role="status">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% endblock %}
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
