{% load static %}

{# djlint: off #}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light">

<!-- Application Stuff -->
<meta name="application-name" content="Director">
<meta name="description" content="Create and manage websites with Director.">
<meta name="author" content="The Director Development Team">

<!-- Favicon and manifest stuff -->
<link rel="icon" href="data:,">

<!-- iOS -->
<meta name="apple-mobile-web-app-title" content="Director">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- Windows -->
<meta name="msapplication-tooltip" content="Director">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-starturl" content="/">

<!-- Android -->
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#ffffff">
