{% extends "base_with_nav.html" %}

{% load static %}

{% block title %}{{ site.name }} · Director{% endblock title %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'general/dist/ws.min.js' %}"></script>
  <script defer src="{% static 'sites/dashboard.js' %}"></script>
  <script defer src="{% static 'sites/runtime-status.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="dt-page dt-project-page">
    <div hx-ext="ws" ws-connect="/sites/{{ site.id }}/?tab={{ dashboard_tab }}">
      {% include "sites/partials/site_status.html" %}
    </div>
  </div>
{% endblock main %}
