[Unit]
Description=Check public DNS readiness for Director

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
AccuracySec=10s
Unit=director-dns-ready.service

[Install]
WantedBy=timers.target
