<div class="nc-dialog fixed inset-0 flex h-full w-full items-center justify-center bg-black/30 opacity-0 transition transition-opacity duration-200">
  {# The native dialog tag has limitations, such as making transitions difficult, so we don't use it #}
  <div class="h-fit w-[36vh] rounded-md bg-[#f5f5f5] outline outline-[#949494] drop-shadow-2xl md:w-[calc(27vh*2.2)]">
    <div class="flex items-center justify-between">
      <p class="nc-title-text m-2 text-2xl font-bold lg:m-4"></p>
      <button class="dt-btn-image nc-close-button mr-2">{% heroicon_solid "x-mark" size="25" fill="gray" %}</button>
    </div>
    <div class="outline-[1px] outline outline-[#e3e3e3]">
      <div class="nc-body-text p-4"></div>
    </div>
    <div class="m-2 flex gap-4 lg:m-4">
      <button class="dt-btn-primary nc-accept-button">Continue</button>
      <button class="dt-btn-outline nc-close-button">Nevermind</button>
    </div>
  </div>
</div>
