<div class="nc-snackbar translate-y-full rounded-md border-b border-b-2 border-[#949494] bg-[#f5f5f5] py-2 shadow-2xl transition transition-all duration-200 md:w-[20vw]">
  {% heroicon_solid "information-circle" size="30" fill="#087cfc" class="inline hidden ml-2 nc-info-circle" %}
  {% heroicon_solid "check-circle" size="30" fill="green" class="inline hidden ml-2 nc-success-circle" %}
  {% heroicon_solid "x-circle" size="30" fill="#ad1902" class="inline hidden ml-2 nc-error-circle" %}
  {% heroicon_solid "exclamation-triangle" size="30" fill="#c7ba02" class="inline hidden ml-2 nc-warning-circle" %}
  <p class="ml-2 inline">This is an example snackbar</p>
</div>
